body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-bottom: 12px;
}

p {
  text-align: left;
  margin-bottom: 5px;
  margin-left: 20px;
  font-weight: bold;
}

ul {
  margin-top: 5px;
  text-align: left;
  font-size: 15px;
  line-height: 1.6;
}

span {
  font-weight: bold;
  color: blue;
}

button,
select {
  margin-bottom: 18px;
  width: 60px;
  height: 30px;
  font-size: 18px;
}

select {
  width: 100px;
}

.cell {
  width: 30px;
  height: 28px;
  border: 1px solid #ccc;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding-top: 2px;
  font-size: 22px;
  cursor: default;
  user-select: none;

  /* Default color for unrevealed tiles */
  background-color: #eee;

  /* Default color for unrevealed tile text */
  color: #333;
}
.opened {
  /* Color for revealed tiles */
  background-color: #ccc;

  /* Color for revealed tile text */
  color: #000;
}
.mine {
  /* Color for mines */
  background-color: #a02727;
}
